# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
QtServer/build
QtServer/out

QtClient/build
QtClient/out


Estensione/QtWebServer/out
Estensione/QtWebServer/build

*.dmp
*.txt
